# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
.dep/

# Directories
[Tt]ests/
evvgc-bl/
EVVGC_V1.X_BL/

# Documentation
[Dd]ocs/

#Visual studio project files
*.opensdf
*.sdf
*.vcxproj
*.filters
*.suo
*.sln
*.user
